#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    width: 100vw;
    align-items: center;
    background-image: url(../images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}
.u--heading-1 {
    font-size: 3.2rem;
    color: white;
}
.ip-input-container {
    width: 40%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    margin-top: 2rem;
}
.ip-address-input {
    padding: 1rem;
    width: 90%;
    border-radius: 1rem 0 0 1rem;
    outline: 0;
    border: none;
}
.ip-search-button {
    width: 10%;
    border-radius: 0 1rem 1rem 0;
    border: none;
    background-color:rgb(61, 61, 61);
    cursor: pointer;
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}
.ip-search-button:hover {
    background-color:rgb(87, 87, 87);
}

.ip-info-container {
    width: 80%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 0;
    z-index: 1001;
    transform: translateY(40%);
}

.ip-info-data {
    margin-top: 1rem;
    display: block;
    font-size: 2.8rem;
    color: #4e4e4e;
}
.bottom-container {
    min-height: 80vh;
}
.search-loader-container {
    position: absolute;
    width: 12.8rem;
    height: 12.8rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader {
    position: absolute;
    margin: auto;
    animation: loading infinite linear 1s;
    border-radius: 50%;
    border-left: 0.5rem solid #4e4e4e;
    width: 50%;
    height: 50%;
}
@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 765px) {
    .ip-input-container  {
        width: 90%;
    }
    .ip-info-container {
        width: 90%;
        grid-template-columns: 1fr;
        transform: translateY(20%);
    }
}