<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <title>Frontend Mentor | IP Address Tracker</title>
  <link rel="stylesheet" href="CSS/universal.css">
  <link rel="stylesheet" href="CSS/index.css">
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="top-container">
      <h1 class="u--heading-1">IP Address Tracker</h1>

      <div class="ip-input-container">
        <input class="ip-address-input" v-model="ipInput" type="text" name="ip" id="" @change.enter="search">

        <button class="ip-search-button" @click="search">

        </button>
      </div>

      <div class="ip-info-container">
        <div class="ip-info-item">
          <h2 class="ip-info-title">IP Address</h2>

          <span class="ip-info-data ip-address-data">{{ ip }}</span>
        </div>

        <div class="ip-info-item">
          <h2 class="ip-info-title">Location</h2>

          <span class="ip-info-data ip-address-location">{{ location }}</span>
        </div>

        <div class="ip-info-item">
          <h2 class="ip-info-title">Timezone</h2>

          <span class="ip-info-data ip-address-timezone">{{ timezone }}</span>
        </div>

        <div class="ip-info-item">
          <h2 class="ip-info-title">ISP</h2>

          <span class="ip-info-data ip-address-isp">{{ isp }}</span>
        </div>
      </div>
    </div>

    <div v-if="flagSearching" class="search-loader-container">
      <div class="loader">
  
      </div>
    </div>

    <div id="map" class="bottom-container">
      
    </div>

    

  </div>

  <script src="JS/index.js"></script>
</body>

</html>